<table class="table mb-4">
	<thead>
		<tr>
			<th scope="col">No.</th>
			<th scope="col">Todo item</th>
			<th scope="col">Status</th>
			<th scope="col">Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let task of state.allTodos; let i = index">
			<th scope="row">{{ i+1 }}</th>
			<td>{{ task.title.length >= 25 ? task.title.substring(0,25) : task.title }}</td>
			<td>{{ task.status ? 'Completed' :'In progress' }}</td>
			<td>
				<button type="submit" (click)="state.deleteTask(i)" class="btn btn-danger">Delete</button>
				<button type="submit" (click)="state.completeTask(i)" class="btn btn-success ms-1">Finished</button>
			</td>
		</tr>
	</tbody>
</table>